.bg-custom {
    background-color: #00BB2D;
}
.navbar-custom .navbar-brand {
    color: #ffffff;
    font-family: 'Veggieburger', arial;
}
.navbar-custom a:not([href]).navbar-brand{
    color: #ffffff;
    text-decoration: none;
}

.navbar-custom a.nav-item.nav-link{
    color: #ffffff;
}
.navbar-custom a.nav-item.nav-link.active{
    background-color: #009900;
    border-radius: 12px;
}
.navbar-custom .navbar-nav .nav-link:hover {
    color: #ebebeb;
}
.navbar-custom .navbar-toggler-icon {
    background-image:#ffff url(/menu.png);
}
.btn-success.custom-btn {
    background-color: #009900;
    border-color: #009900;
}
.btn-success.custom-btn:hover {
    background-color: #549900!important;
    border-color: #549900!important;
}
.btn-success.custom-btn:active:focus{
    background-color: #549900!important;
    border-color: #549900!important;
}
.btn-success.custom-btn:focus-within{
    background-color: #549900!important;
    border-color: #549900!important;
}
.content{
    padding-top: 3%;
    padding-bottom: 3%;
}
.a-btn:hover{
    cursor: pointer;
}
.modal-header-error{
    background-color: #B22222;
}
.modal-header-error .modal-title{
    color: white;
}
.modal-header-success{
    background-color: #549900;
}
.modal-header-success .modal-title{
    color: white;
}
table, th, td {
    text-align:center;
}
input[type="number"] {
  text-align: center;
}