table-responsive table tbody tr th:first-child {
  background: yellow;
  top: auto;
  position:fixed;  /*change this*/
  left: 0.5;
  width: 6em;
}
/*input,textarea{
    width:100%;
    display:block
}*/
.inputNombre{
    max-width: 60ch;
}
.inputEdad{
    max-width: 5ch;
}
.tableInput{
    width:100%;
    max-width: 5ch;
}