.bg-custom {
    background-color: #00BB2D;
}
.navbar-custom .navbar-brand {
    color: #ffffff;
}
.navbar-custom a.nav-item.nav-link{
    color: #ffffff;
}
.navbar-custom a.nav-item.nav-link.active{
    background-color: #009900;
}